@media(max-width: 768px) {
    body {
        background-color: hsl(257, 40%, 49%);
        background-image: url(../images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        display: block;
        padding: 30px;
        text-align: center;
    }

    .container .img-main {
        padding: 0;
        margin: 0;
        width: 100%;
    }
}

@media(max-width: 375px) {
    body {
        background-color: hsl(257, 40%, 49%);
        background-image: url(../images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logo {
        max-width: 120px;
        padding: 0;
        margin: 30px;
    }

    .container {
        display: block;
        padding: 30px;
        text-align: center;
    }

    .container .img-main {
        max-width: 300px;
        padding: 0;
        margin: 0;
    }

    .container .conteudo{
        margin-top: 50px;
    }
    
    .container .conteudo .titulo{
        font-size: 25px;
    }

    footer{
        text-align: center;
    }

    .social a{
        font-size: 13px;
        padding: 5px;
        margin: 5px;
    }
}